.logViewer{
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 14px;
}

.logViewerTable{
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  width: 100%;

}

.header{
  /*width: inherit;*/
 /* padding: 0 8px;*/
}

.header1{
  width: inherit;
  padding: 0 8px;
}

.header2{
  width: inherit;
  padding: 0 8px;
}

.logViewerTableHeader{
  border: 2px solid;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #fff;
  background-color: #0F991B;
  color: white;
  width: inline-block;
  padding: 4px 8px;
  font-weight: bold;

 /*   width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

.logViewerBody:nth-child(even){
  background-color: #f2f2f2;
}

.logViewerTableBody td {
  padding: 0px;
  border: 1px solid #ddd;
}

.logViewerSuccess_true{
  color:#0b8e07;
}

.logViewerSuccess_false{
  color:#8e0707;
}

.logViewerSuccess_undefined{
  color:#000;
}


.fixed_headers {
  /*width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

thead tr {
   /* display: block;
    position: relative;*/
}

tbody {
 /* display: block;*/
  overflow: auto;
  width: 100%;
  height: 300px;
}


.divTable{
	display: table;
  width: 100%;
  overflow: auto;
  
  
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
  border: 2px solid;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;

  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #38bcc3;
  color: white;
  display: table-header-group;
  
	font-weight: bold;
}
.divTableCell, .divTableHead {
	border: 1px solid #fff;
	display: table-cell;
	padding: 3px 10px;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.divTableRow:nth-child(even){
  background-color: #f2f2f2;
}

.divTableBody div {
  padding: 4px;
  border: 1px solid #ddd;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 5px;
  display: inline-flex;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


