.logViewer{
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 14px;
  width: 94%;
    padding: 0px 0px;
    overflow: auto;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: 10px 3%;
}

.logViewerTable{
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  width: 100%;

}

.header{
  /*width: inherit;*/
 /* padding: 0 8px;*/
}

.header1{
  width: inherit;
  padding: 0 8px;
}

.header2{
  width: inherit;
  padding: 0 8px;
}

.logViewerTableHeader{
  border: 2px solid;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #fff;
  background-color: #0F991B;
  color: white;
  width: inline-block;
  padding: 4px 8px;
  font-weight: bold;

 /*   width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

.logViewerBody:nth-child(even){
  background-color: #f2f2f2;
}

.logViewerTableBody td {
  padding: 0px;
  border: 1px solid #ddd;
}

.logViewerSuccess_true{
  color:#0b8e07;
}

.logViewerSuccess_false{
  color:#8e0707;
}

.logViewerSuccess_undefined{
  color:#000;
}


.fixed_headers {
  /*width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

thead tr {
   /* display: block;
    position: relative;*/
}

tbody {
 /* display: block;*/
  overflow: auto;
  width: 100%;
  height: 300px;
}


.divTable{
  display: table;
  overflow: auto;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width:100%;
  margin-bottom: 10px;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
  border: 2px solid;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;

  border: 1px solid #ddd;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #38bcc3;
  color: white;
  display: table-header-group;
  
	font-weight: bold;
}
.divTableCell, .divTableHead {
	border: 1px solid #fff;
	display: table-cell;
	padding: 3px 10px;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.divTableRow:nth-child(even){
  background-color: #f2f2f2;
}

.divTableBody div {
  padding: 4px;
  border: 1px solid #ddd;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 5px;
  display: inline-flex;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.csvFileDownloader{
  margin-bottom: 10px;
}
.csvFileDownloader button{
  border: 3px solid #e7e7e7;
  background-color: #e7e7e7;
  color: #000;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.csvFileDownloader button:hover {
    background-color: #FFF; /* Green */
    color: #000;
}

.tableTitle{
  font-weight: 600;
  font-size: 35px;
}

/* Search Bar */



  

 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

 a:hover {
  background-color: #ddd;
  color: black;
}

 a.active {
  background-color: #2196F3;
  color: white;
}

 .search-container {
  float: right;
}

 input[type=text] {
  padding: 4px;
  margin-top: 8px;
  font-size: 17px;
 
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  .a,  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;  
  }
}

.search-container {
    float: right;
    padding-right: 0px;
    margin-right: -7px;
}



