.logViewer{
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 14px;
}

.logViewerTable{
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 10px 0;
  width: 100%;

}

.header{
  /*width: inherit;*/
 /* padding: 0 8px;*/
}

.header1{
  width: inherit;
  padding: 0 8px;
}

.header2{
  width: inherit;
  padding: 0 8px;
}

.logViewerTableHeader{
  border: 2px solid;
  text-align: center;
  color: #000;
  font-weight: bold;
  font-family: sans-serif;
  border: 1px solid #ddd;
  background-color: #0F991B;
  color: white;
  width: inline-block;
  padding: 4px 8px;
  font-weight: bold;

 /*   width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

.logViewerBody:nth-child(even){
  background-color: #f2f2f2;
}

.logViewerTableBody td {
  padding: 0px;
  border: 1px solid #ddd;
}

.logViewerSuccess_true{
  color:#0b8e07;
}

.logViewerSuccess_false{
  color:#8e0707;
}

.logViewerSuccess_undefined{
  color:#000;
}


.fixed_headers {
  /*width: 100%;*/
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

thead tr {
   /* display: block;
    position: relative;*/
}

tbody {
 /* display: block;*/
  overflow: auto;
  width: 100%;
  height: 300px;
}
